* {
    background-color: aliceblue;
}

.button {
    background-color: red;
}

.ancestor .child {
    color: red;
}

#heading1 {
    font: serif;
    font-size: x-large;
    font-weight: bolder;
    text-align: center;
}

.button_1, .button_2 {
    background-color: red;
}

img {
    height: auto;
    width: 500px;
}